In [53]:
pip install CensusData

Requirement already satisfied: CensusData in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (1.15.post1)
Requirement already satisfied: requests in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (from CensusData) (2.27.1)
Requirement already satisfied: pandas in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (from CensusData) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (from pandas->CensusData) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (from pandas->CensusData) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (from pandas->CensusData) (1.22.3)
Requirement already satisfied: certifi>=2017.4.17 in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (from requests->CensusData) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (from requests->CensusData) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (from requests->CensusData) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (from requests->CensusData) (2.0.12)
Requirement already satisfied: six>=1.5 in /lustre/work/client/users/eabel/.conda/envs/ds_1300/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->CensusData) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [54]:
import pandas as pd
import censusdata

In [55]:
data2021 = censusdata.download('acs5', 2021, censusdata.censusgeo([('county', '*')]), 
                               # to get variable, add code to this list
                                   ['B01003_001E', 'B01001_002E', 'B01001_026E', 'B01002_001E', 'B01002_002E', 'B01002_003E', 
                                   'B02001_002E', 'B02001_003E', 'B02001_004E', 'B02001_005E', 'B02001_006E', 'B02001_009E'])

In [56]:
# to rename variable, add to dict
demographic_variables_dict = {'B01003_001E' : 'Total_Population', 'B01001_002E' : 'Total_Male_Pop', 
 'B01001_026E' : 'Total_Female_Pop', 'B01002_001E' : 'Median_Age', 
 'B01002_002E' : 'M_Median_Age' , 'B01002_003E' : 'F_Median_Age', 'B02001_002E' : 'Race_white', 
  'B02001_003E' : 'Race_black',  'B02001_004E' : 'Race_Am_Indian',   'B02001_005E' : 'Race_Asian', 'B02001_006E': 'Race_Pac_Isl' } 
data2021.rename(columns=demographic_variables_dict,
          inplace=True)
data2021

,Total_Population,Total_Male_Pop,Total_Female_Pop,Median_Age,M_Median_Age,F_Median_Age,Race_white,Race_black,Race_Am_Indian,Race_Asian,Race_Pac_Isl,B02001_009E
"Autauga County, Alabama: Summary level: 050, state:01> county:001",58239,28206,30033,38.5,37.9,39.2,43755,11470,98,647,0,858
"Baldwin County, Alabama: Summary level: 050, state:01> county:003",227131,110781,116350,43.4,42.0,44.6,192034,19895,1259,2175,9,2934
"Barbour County, Alabama: Summary level: 050, state:01> county:005",25259,13361,11898,40.2,38.9,42.6,11495,11985,77,106,1,236
"Bibb County, Alabama: Summary level: 050, state:01> county:007",22412,12300,10112,39.7,38.9,41.6,17020,5003,21,46,0,77
"Blount County, Alabama: Summary level: 050, state:01> county:009",58884,29530,29354,41.1,39.7,42.5,54439,760,189,216,74,808
...,...,...,...,...,...,...,...,...,...,...,...,...
"Vega Baja Municipio, Puerto Rico: Summary level: 050, state:72> county:145",54544,26057,28487,43.1,41.5,44.6,30690,2409,50,9,0,12504
"Vieques Municipio, Puerto Rico: Summary level: 050, state:72> county:147",8317,4239,4078,43.6,40.9,45.9,2592,629,0,14,0,310
"Villalba Municipio, Puerto Rico: Summary level: 050, state:72> county:149",22341,10796,11545,42.0,40.7,42.9,10502,1784,0,0,0,3102
"Yabucoa Municipio, Puerto Rico: Summary level: 050, state:72> county:151",31047,15000,16047,44.9,43.7,46.0,3190,16119,0,11,0,530
"Yauco Municipio, Puerto Rico: Summary level: 050, state:72> county:153",34704,16548,18156,45.5,43.7,47.6,24533,1282,48,0,0,2408

In [57]:
data2021 = data2021.reset_index().rename(columns = {"index":"FIPS"})

In [58]:
f.params()[0][1] + f.params()[1][1]

'01001'

In [59]:
data2021["FIPS"] = data2021["FIPS"].apply(lambda x: x.params()[0][1] + x.params()[1][1])
data2021

,FIPS,Total_Population,Total_Male_Pop,Total_Female_Pop,Median_Age,M_Median_Age,F_Median_Age,Race_white,Race_black,Race_Am_Indian,Race_Asian,Race_Pac_Isl,B02001_009E
0,01001,58239,28206,30033,38.5,37.9,39.2,43755,11470,98,647,0,858
1,01003,227131,110781,116350,43.4,42.0,44.6,192034,19895,1259,2175,9,2934
2,01005,25259,13361,11898,40.2,38.9,42.6,11495,11985,77,106,1,236
3,01007,22412,12300,10112,39.7,38.9,41.6,17020,5003,21,46,0,77
4,01009,58884,29530,29354,41.1,39.7,42.5,54439,760,189,216,74,808
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,72145,54544,26057,28487,43.1,41.5,44.6,30690,2409,50,9,0,12504
3217,72147,8317,4239,4078,43.6,40.9,45.9,2592,629,0,14,0,310
3218,72149,22341,10796,11545,42.0,40.7,42.9,10502,1784,0,0,0,3102
3219,72151,31047,15000,16047,44.9,43.7,46.0,3190,16119,0,11,0,530
3220,72153,34704,16548,18156,45.5,43.7,47.6,24533,1282,48,0,0,2408

In [60]:
data2021

,FIPS,Total_Population,Total_Male_Pop,Total_Female_Pop,Median_Age,M_Median_Age,F_Median_Age,Race_white,Race_black,Race_Am_Indian,Race_Asian,Race_Pac_Isl,B02001_009E
0,01001,58239,28206,30033,38.5,37.9,39.2,43755,11470,98,647,0,858
1,01003,227131,110781,116350,43.4,42.0,44.6,192034,19895,1259,2175,9,2934
2,01005,25259,13361,11898,40.2,38.9,42.6,11495,11985,77,106,1,236
3,01007,22412,12300,10112,39.7,38.9,41.6,17020,5003,21,46,0,77
4,01009,58884,29530,29354,41.1,39.7,42.5,54439,760,189,216,74,808
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,72145,54544,26057,28487,43.1,41.5,44.6,30690,2409,50,9,0,12504
3217,72147,8317,4239,4078,43.6,40.9,45.9,2592,629,0,14,0,310
3218,72149,22341,10796,11545,42.0,40.7,42.9,10502,1784,0,0,0,3102
3219,72151,31047,15000,16047,44.9,43.7,46.0,3190,16119,0,11,0,530
3220,72153,34704,16548,18156,45.5,43.7,47.6,24533,1282,48,0,0,2408

In [61]:
xwalk = pd.read_csv('cbsa2fipsxw.csv')

In [62]:
xwalk['FIPS'] = (xwalk['fipsstatecode'] * 1000) + xwalk['fipscountycode']

In [63]:
data2021['FIPS'] = data2021['FIPS'].astype(float)

In [65]:
new_data = data2021.merge(xwalk, on = 'FIPS', how = 'left')

In [67]:
new_data.columns

Index(['FIPS', 'Total_Population', 'Total_Male_Pop', 'Total_Female_Pop',
       'Median_Age', 'M_Median_Age', 'F_Median_Age', 'Race_white',
       'Race_black', 'Race_Am_Indian', 'Race_Asian', 'Race_Pac_Isl',
       'B02001_009E', 'cbsacode', 'metrodivisioncode', 'csacode', 'cbsatitle',
       'metropolitanmicropolitanstatis', 'metropolitandivisiontitle',
       'csatitle', 'countycountyequivalent', 'statename', 'fipsstatecode',
       'fipscountycode', 'centraloutlyingcounty'],
      dtype='object')